.slider-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .slider-container img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 0;
  }
  
  .slick-dots li button:before {
    font-size: 12px;
    color: white;
  }
  
  .slick-dots li.slick-active button:before {
    color: black;
  }
  